/*
Theme Name: Enfold Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/
/*Add your own styles here:*/
#header .logo img {
    margin-top: 0;
}

#grass_section {
    background-size: contain;
    padding-bottom: 70px;
}

input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
    background-color: #719430;
    border: 1px solid #719430;
    width: 50%;
    height: 40px;
    color: #fff;
    letter-spacing: .01em;
    font-size: 12px;
    font-weight: 300;
    /*margin-left: -15px;*/
    text-transform: uppercase;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #fff;
    color: #719430;
    transition: 0.5s;
}